# Configurações do Banco de Dados
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=

# Configurações da API
API_PORT=

# Configurações do Pipeline
PIPELINE_INTERVAL=

# Configurações do JWT
JWT_SECRET=

# Configurações do LocationIQ
LOCATION_IQ_KEY=

# Configurações do Email
MAIL_USERNAME=
MAIL_PASSWORD=